* {
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    padding: 8px 20px;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
    background-color: blue;
    border-radius: 6px;
    color: white;  
}

#display {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myDiv {
    width: 300px;
    height: 30px;
    background-color: chartreuse;

}